* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #12121f;
    height: 100%;
}

/* card container */
.card-interactive {
    width: 380px;
    height: 360px;
    margin-top: 12%;
    border-radius: 30px;
    background-color: #2a354679;
}

.star-container {
    border-radius: 50px;
    width: 40px;
    height: 40px;
    background: url(../images/icon-star.svg) center no-repeat;
    background-color: #2a3546b7;
    margin: 5% 0 0 10%;

}

#title {
    padding: 8% 0 0 10%;
    color: #fff;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
}

#text {
    font-size: 15px;
    padding-left: 10%;
    width: 80%;
    color: #fff;
}

.num-container {
    display: flex;
    justify-content: space-around;
    width: 85%;
    margin: 3% 0 0 6%;
}

/* btns numeros */
.number, .inactive {
    width: 40px;
    height: 40px;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50px;
    background-color: #2a3546b7;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.number:hover {
    background-color: #fff;
    color: #fb7413;
    transition: 0.5s;
}

/* btn submit */
.btn-sub {
    color: #fff;
    background-color: #fb7413;
    width: 80%;
    margin: 3% 0 0 10%;
    border-radius: 50px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
}

.btn-sub:hover {
    color: #fb7413;
    background-color: #fff;
    transition: 0.5s;
}

/* estilo para o botao quando estiver ativo */
.activeOrange {
    background-color: #fb7413;
    color: #fff;
    width: 40px;
    height: 40px;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
}

/* second card elements */

#imgThank {
    display: none;
    margin: 5% 0 0 27%;
}

#message {
    display: none;
    color: #fb7413;
    background-color: #2a3546b7;
    width: 50%;
    height: 25px;
    text-align: center;
    margin-top: 10%;
    margin-left: 25%;
    font-size: 15px;
    border-radius: 20px;
}

#text2{
    display: none;
    font-size: 15px;
    margin-left: 13%;
    text-align: center;
    width: 75%;
    color: #fff;
}

/* media queries */

@media(min-width: 320px) and (max-width:374px) {

    /* card container */
    .card-interactive {
        width: 100%;
        margin-top: 40%;
    }
}

@media(min-width:375px) and (max-width:425px) {
    /* card container */
    .card-interactive {
        width: 100%;
        margin-top: 30%;
    }
}

@media(min-width: 426px) and (max-width: 486px) {
    /* card container */
    .card-interactive {
        width: 100%;
        margin-top: 25%;
    }

    #imgThank {
        display: none;
        margin: 5% 0 0 30%;
    }
}

@media(min-width: 487px) and (max-width: 550px) {
    /* card container */
    .card-interactive {
        width: 100%;
        margin-top: 25%;
    }

    #imgThank {
        display: none;
        margin: 6% 0 0 34%;
    }
}

@media (min-width: 551px) and (max-width: 575px) {
    /* card container */
    .card-interactive {
        width: 100%;
        margin-top: 25%;
    }

    #imgThank {
        display: none;
        margin: 6% 0 0 35%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    /* card container */
    .card-interactive {
        width: 100%;
        margin-top: 25%;
    }

    #imgThank {
        display: none;
        margin: 6% 0 0 35%;
    }
}
 
@media (min-width: 768px) and (max-width: 991.98px) {
    /* card container */
    .card-interactive {
        margin-top: 20%;
    }

    #imgThank {
        display: none;
        margin: 6% 0 0 28%;
    }
} 


@media (min-width: 992px) and (max-width: 1199.98px) {
    /* card container */
    .card-interactive {
        margin-top: 15%;
    }

    #imgThank {
        margin: 6% 0 0 30%;
    }
} 